.Main-container{
    margin: 10%;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
}

.Header{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 20%;
    letter-spacing: 1px;
    

}

.text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

.Icon{
    margin-left: 20px;
}

.text{
    margin-right: 40px;
}

.card{
    border: 2px solid rgb(252, 42, 84);
    border-radius: 10px;
    height: 400px;
    box-shadow: 5px 6px 15px #888888;
    margin-left: 30px;
    position: relative;
    
    
}
.hr{
    padding-left: 53px;
    margin-bottom: 20px;
}
.h2{
    padding-right: 62px;

}

.check{
    margin-top: 20px;
    padding-right: 30px;
    font-size: 30px;
    line-height: 44px;
}

.icon2{
    position: absolute;
    bottom: 20px;
    right: 25px;
}